[submodule "example/8cc/8cc"]
	path = example/8cc/8cc
	url = git://github.com/rui314/8cc.git
[submodule "example/zlib/zlib"]
	path = example/zlib/zlib
	url = git@github.com:madler/zlib.git
[submodule "example/lua/lua"]
	path = example/lua/lua
	url = git://github.com/lua/lua.git
