[submodule "example/8cc/8cc"]
	path = example/8cc/8cc
	url = git://github.com/rui314/8cc.git
[submodule "example/zlib/zlib"]
	path = example/zlib/zlib
	url = git@github.com:madler/zlib.git
[submodule "example/lua/lua"]
	path = example/lua/lua
	url = git://github.com/lua/lua.git
[submodule "example/cJSON/cJSON"]
	path = example/cJSON/cJSON
	url = git://github.com/DaveGamble/cJSON.git
[submodule "example/tree/tree"]
	path = example/tree/tree
	url = git://github.com/execjosh/tree.git
[submodule "example/jemalloc/jemalloc"]
	path = example/jemalloc/jemalloc
	url = git://github.com/jemalloc/jemalloc.git
